.dv7{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv8{
background-color:#1E90FF;
width: 100%;
height: 277px;
}

.dv9{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv10{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv11{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv12{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv13{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv14{
background-color: #1E90FF;
float: left;
width: 16%;
height: 120px;
border: 4px solid white;
}

.dv15{
background-color:#1E90FF;
width: 100%;
height: 277px;
}